$brand-green: #90c53d;
$teal: #00ac9a;
$purple: #953a93;
$light-blue: #93d2cf;
$light-grey:#bbbbbb;
$lighter-grey:#eaeaea;

$body-text: #575b5e;
$footer-bg: #575b5c;

$surgery: #8d3a80;
$cancer: #00af91;
$heartlung: #bfde16;
$innovation:#ec8a00;
$brainhealth: #00acee;
$community:#80dfd2;