// $brand-green: #90c53d;
$brand-green: #7dab35;
$teal: #00ac9a;
$purple: #953a93;
$light-blue: #93d2cf;
$light-grey:#bbbbbb;
$lighter-grey:#f3f3f3;

$body-text: #575b5e;
$body-text-light: #b6b6b6;
$footer-bg: #575b5c;

$surgery: #00AAE3;
$cancer: #8E3A80;
$heartlung: #ED6062;
$innovation:#ED8B00;
$brainhealth: #6DCDB8;
$community:#FFB81C;

$angel-pink: #ce89c3;
$stars-gala: #272787;
$shine-gala: #d8c58b;