// Bourbon Neat Grid
@import "../neat/neat-helpers";
$max-width: 1340px;

// Define your breakpoints
$ptab: new-breakpoint(601px);
$tab: new-breakpoint(769px);
$desk: new-breakpoint(1025px);
$wideDesk: new-breakpoint(1201px);
$smDesk : new-breakpoint(max-width 1201px);
$mobileOnly: new-breakpoint(max-width 600px);
$ptabAndLess: new-breakpoint(max-width 768px);
$tabAndLess: new-breakpoint(max-width 900px);
$laptopHeightOnly: new-breakpoint(min-width 1024px max-height 768px);
$portraitOnly: new-breakpoint(min-width 768px max-width 1024px);

$regularNav: new-breakpoint(1181px);
$mobileNav: new-breakpoint(max-width 1180px);

.container, .full-container {
  @include fill-parent();
  @include row(table);
}

.container {
  @include outer-container;
  padding-left:20px;
  padding-right:20px;
  @include media($tab){
    padding-left:30px;
    padding-right:30px;
  }

  .inner-wrap {
    position: relative;
    @include media($tab){
      margin: 0 3%;
    }
    @include media($desk){
      margin: 0 5.933%;
    }
  }

  .narrow-wrap {
    position: relative;
    @include media($tab){
      margin: 0 10%
    }
    @include media($desk){
      margin: 0 20%
    }
  }
}

.col-grid-1 {
  @include media($tab){
    @include span-columns(1);
  }
}

.col-grid-2 {
  vertical-align:top;
  @include media($tab){
    @include span-columns(2);
  }
}

.col-grid-3 {
  vertical-align:top;
  @include media($tab){
    @include span-columns(3);
  }
}

.col-grid-4 {
  vertical-align:top;
  @include media($tab){
    @include span-columns(4);
  }
}

.col-grid-5 {
  vertical-align:top;
  @include media($tab){
    @include span-columns(5);
  }
}

.col-grid-6 {
  vertical-align:top;
  @include media($tab){
    @include span-columns(6);
  }
}

.col-grid-7 {
  vertical-align:top;
  @include media($tab){
    @include span-columns(7);
  }
}

.col-grid-8 {
  vertical-align:top;
  @include media($tab){
    @include span-columns(8);
  }
}

.col-grid-9 {
  vertical-align:top;
  @include media($tab){
    @include span-columns(9);
  }
}

.col-grid-10 {
  vertical-align:top;
  @include media($tab){
    @include span-columns(10);
  }
}

.col-grid-11 {
  vertical-align:top;
  @include media($tab){
    @include span-columns(11);
  }
}

.col-grid-12 {
  vertical-align:top;
  @include media($tab){
    @include span-columns(12);
  }
}


.col-third {
  float:left;
  display:block;
  @include media($tab){
    width:33%;
  }
}

.col-float-1 {
  float:left;
  display:block;
  @include media($tab){
    @include span-columns(1);
  }
}

.col-float-2 {
  float:left;
  display:block;
  @include media($tab){
    @include span-columns(2);
  }
}

.col-float-3 {
  float:left;
  display:block;
  @include media($tab){
    @include span-columns(3);
  }
}

.col-float-4 {
  float:left;
  display:block;
  @include media($tab){
    @include span-columns(4);
  }
}

.col-float-5 {
  float:left;
  display:block;
  @include media($tab){
    @include span-columns(5);
  }
}

.col-float-6 {
  float:left;
  display:block;
  @include media($tab){
    @include span-columns(6);
  }
}

.col-float-7 {
  float:left;
  display:block;
  @include media($tab){
    @include span-columns(7);
  }
}

.col-float-8 {
  float:left;
  display:block;
  @include media($tab){
    @include span-columns(8);
  }
}

.col-float-9 {
  float:left;
  display:block;
  @include media($tab){
    @include span-columns(9);
  }
}

.col-float-10 {
  float:left;
  display:block;
  @include media($tab){
    @include span-columns(10);
  }
}

.col-float-11 {
  float:left;
  display:block;
  @include media($tab){
    @include span-columns(11);
  }
}

.col-float-12 {
  float:left;
  display:block;
  @include media($tab){
    @include span-columns(12);
  }
}
