  // .surgery {}
  // .cancer {}
  // .heart-lung {}
  // .innovation {}
  // .community {}
  // .brain-health {}

.panel {
  .surgery, .theme-section-surgery & {
    // h5 {
    //   color:$surgery;
    // }
    .cta-panel {
      background-color:$surgery;
    }

    .button {
      background-color:$surgery;
      border-color:$surgery;
      color:#fff;
      &:hover {
        color:$surgery;
        background:transparent;
      }

      &.keyline {
        background-color:transparent;
        color:$surgery;
        &:hover {
          background-color:$surgery;
          border-color:$surgery;
          color:#fff;
        }
      }
    }
  }
  .cancer, .theme-section-cancer & {
    // h5 {
    //   color:$cancer;
    // }
    .cta-panel {
      background-color:$cancer;
    }

    .button {
      background-color:$cancer;
      border-color:$cancer;
      color:#fff;
      &:hover {
        color:$cancer;
        background:transparent;
      }

      &.keyline {
        background-color:transparent;
        color:$cancer;
        &:hover {
          background-color:$cancer;
          border-color:$cancer;
          color:#fff;
        }
      }
    }
  }
  .heart-lung, .theme-section-heart-lung & {
    // h5 {
    //   color:$heartlung;
    // }
    .cta-panel {
      background-color:$heartlung;
    }

    .button {
      background-color:$heartlung;
      border-color:$heartlung;
      color:#fff;
      &:hover {
        color:$heartlung;
        background:transparent;
      }

      &.keyline {
        background-color:transparent;
        color:$heartlung;
        &:hover {
          background-color:$heartlung;
          border-color:$heartlung;
          color:#fff;
        }
      }
    }
  }
  .innovation, .theme-section-innovation & {
    // h5 {
    //   color:$innovation;
    // }
    .cta-panel {
      background-color:$innovation;
    }

    .button {
      background-color:$innovation;
      border-color:$innovation;
      color:#fff;
      &:hover {
        color:$innovation;
        background:transparent;
      }

      &.keyline {
        background-color:transparent;
        color:$innovation;
        &:hover {
          background-color:$innovation;
          border-color:$innovation;
          color:#fff;
        }
      }
    }
  }
  .community, .theme-section-community & {
    // h5 {
    //   color:$community;
    // }
    .cta-panel {
      background-color:$community;
    }

    .button {
      background-color:$community;
      border-color:$community;
      color:#fff;
      &:hover {
        color:$community;
        background:transparent;
      }

      &.keyline {
        background-color:transparent;
        color:$community;
        &:hover {
          background-color:$community;
          border-color:$community;
          color:#fff;
        }
      }
    }
  }
  .brain-health, .theme-section-brain-health & {
    // h5 {
    //   color:$brainhealth;
    // }
    .cta-panel {
      background-color:$brainhealth;
    }

    .button {
      background-color:$brainhealth;
      border-color:$brainhealth;
      color:#fff;
      &:hover {
        color:$brainhealth;
        background:transparent;
      }

      &.keyline {
        background-color:transparent;
        color:$brainhealth;
        &:hover {
          background-color:$brainhealth;
          border-color:$brainhealth;
          color:#fff;
        }
      }
    }
  }
}

.panel {
  &.themes-overview-stats .tab-content-item.surgery .fact-row .larger-text {
    color:$surgery;
  }
  &.themes-overview-stats .tab-content-item.cancer .fact-row .larger-text {
    color:$cancer;
  }
  &.themes-overview-stats .tab-content-item.heart-lung .fact-row .larger-text {
    color:$heartlung;
  }
  &.themes-overview-stats .tab-content-item.innovation .fact-row .larger-text {
    color:$innovation;
  }
  &.themes-overview-stats .tab-content-item.community .fact-row .larger-text {
    color:$community;
  }
  &.themes-overview-stats .tab-content-item.brain-health .fact-row .larger-text {
    color:$brainhealth;
  }


}

.panel.overview-panel {
  h4 {
    color:$brand-green;
  }

  ul {
    padding-left:0;
    li {
      list-style:none;
      position:relative;
      padding-left:1.75rem;

      &:before {
        content:'•';
        position:absolute;
        left:0.25rem;
        // color:$brand-green;
      }
    }
  }
}


.theme-section-surgery {
  #sub-navigation {
    background-color: $surgery;
  }
  .panel.page-header .header-copy {
    background-color: $surgery;
  }

  .overview-panel {
    h4 {
      color: $surgery;
    }
  }

  .panel.full-stats-panel {
    .number, .larger-text {
      color: $surgery;
    }
  }

  .three-stories-panel {
    article {
      .tag {
        background-color: $surgery;
      }
      &:hover {
        background-color: $surgery;
      }
    }
  }

}
.theme-section-cancer {
  #sub-navigation {
    background-color: $cancer;
  }
  .panel.page-header .header-copy {
    background-color: $cancer;
  }

  .overview-panel {
    h4 {
      color: $cancer;
    }
  }

  .panel.full-stats-panel {
    .number, .larger-text {
      color: $cancer;
    }
  }

  .three-stories-panel {
    article {
      .tag {
        background-color: $cancer;
      }
      &:hover {
        background-color: $cancer;
      }
    }
  }
}
.theme-section-heart-lung {
  #sub-navigation {
    background-color: $heartlung;
  }
  .panel.page-header .header-copy {
    background-color: $heartlung;
  }

  .overview-panel {
    h4 {
      color: $heartlung;
    }
  }

  .panel.full-stats-panel {
    .number, .larger-text {
      color: $heartlung;
    }
  }

  .three-stories-panel {
    article {
      .tag {
        background-color: $heartlung;
      }
      &:hover {
        background-color: $heartlung;
      }
    }
  }
}
.theme-section-brain-health {
  #sub-navigation {
    background-color: $brainhealth;
  }
  .panel.page-header .header-copy {
    background-color: $brainhealth;
  }

  .overview-panel {
    h4 {
      color: $brainhealth;
    }
  }

  .panel.full-stats-panel {
    .number, .larger-text {
      color: $brainhealth;
    }
  }

  .three-stories-panel {
    article {
      .tag {
        background-color: $brainhealth;
      }
      &:hover {
        background-color: $brainhealth;
      }
    }
  }
}
.theme-section-innovation {
  #sub-navigation {
    background-color: $innovation;
  }
  .panel.page-header .header-copy {
    background-color: $innovation;
  }

  .overview-panel {
    h4 {
      color: $innovation;
    }
  }

  .panel.full-stats-panel {
    .number, .larger-text {
      color: $innovation;
    }
  }

  .three-stories-panel {
    article {
      .tag {
        background-color: $innovation;
      }
      &:hover {
        background-color: $innovation;
      }
    }
  }
}
.theme-section-community {
  #sub-navigation {
    background-color: $community;
  }
  .panel.page-header .header-copy {
    background-color: $community;
  }

  .overview-panel {
    h4 {
      color: $community;
    }
  }

  .panel.full-stats-panel {
    .number, .larger-text {
      color: $community;
    }
  }

  .three-stories-panel {
    article {
      .tag {
        background-color: $community;
      }
      &:hover {
        background-color: $community;
      }
    }
  }
}




.panel.category-bg-color {
  background-color:$brand-green;
  color:#fff;

  h1,h2,h3,h4,h5 {
    color:#fff;
  }

  a {
    color:#fff;
    transition:color 0.3s linear;
    &:hover {
      color:rgba(#fff, 0.5);
    }
  }
  .col-grid-3, .col-grid-9 {
    a {
      border-bottom: 1px solid rgba(255,255, 255, 0.4);
    }

  }

  .signature-event-angel-campaign & {
    background-color:$angel-pink;
    a.button:hover {
      color:$angel-pink;
    }
  }

  .signature-event-night-of-a-thousand-stars-gala & {
    background-color:$stars-gala;
    a.button:hover {
      color:$stars-gala;
    }
  }

  .signature-event-innovators-challenge & {
    background-color:$ino-challenge;
    a.button:hover {
      color:$ino-challenge;
    }
  }

  .signature-event-viva-pharmaceutical-time-shine-gala & {
    background-color:$shine-gala;
    a.button:hover {
      color:$shine-gala;
    }
  }

  .signature-event-ismaili-walk & {
    background-color:$teal;
    a.button:hover {
      color:$teal;
    }
  }

  .signature-event-mr-lube-tournament-for-life & {
    background-color:$mr-lube;
    a.button:hover {
      color:$mr-lube;
    }
  }

  &.bg-surgery{
    background-color:$surgery;
  }
  &.bg-cancer{
    background-color:$cancer;
  }
  &.bg-heart-lung{
    background-color:$heartlung;
  }
  &.bg-innovation{
    background-color:$innovation;
  }
  &.bg-community{
    background-color:$community;
  }
  &.bg-brain-health{
    background-color:$brainhealth;
  }
}


.signature-event-angel-campaign {
  .button {
    background-color:$angel-pink;
    border-color:$angel-pink;
    color:#fff;
    &:hover {
      color:#fff;
      background:transparent;
    }
    &.keyline {
      background-color:transparent;
      color:$angel-pink;
      &:hover {
        background-color:$angel-pink;
        border-color:$angel-pink;
        color:#fff;
      }
    }
  }
  .panel.overview-panel {
    ul {
      li {
        &:before {
          color:#fff;
        }
      }
    }
  }
}
.signature-event-night-of-a-thousand-stars-gala {
  .button {
    background-color:$stars-gala;
    border-color:$stars-gala;
    color:#fff;
    &:hover {
      color:#fff;
      background:transparent;
    }
    &.keyline {
      background-color:transparent;
      color:$stars-gala;
      &:hover {
        background-color:$stars-gala;
        border-color:$stars-gala;
        color:#fff;
      }
    }
  }
  .panel.overview-panel {
    ul {
      li {
        &:before {
          color:#fff;
        }
      }
    }
  }
}
.signature-event-innovators-challenge {
  .button {
    background-color:$ino-challenge;
    border-color:$ino-challenge;
    color:#fff;
    &:hover {
      color:#fff;
      background:transparent;
    }
    &.keyline {
      background-color:transparent;
      color:$ino-challenge;
      &:hover {
        background-color:$ino-challenge;
        border-color: $ino-challenge;
        color:#fff;
      }
    }
  }
  .panel.overview-panel {
    ul {
      li {
        &:before {
          color:#fff;
        }
      }
    }
  }
}
.signature-event-viva-pharmaceutical-time-shine-gala {
  .button {
    background-color:$shine-gala;
    border-color:$shine-gala;
    color:#fff;
    &:hover {
      color:#fff;
      background:transparent;
    }
    &.keyline {
      background-color:transparent;
      color:$shine-gala;
      &:hover {
        background-color:$shine-gala;
        border-color:$shine-gala;
        color:#fff;
      }
    }
  }
  .panel.overview-panel {
    ul {
      li {
        &:before {
          color:#fff;
        }
      }
    }
  }
}
.signature-event-ismaili-walk {
  .button {
    background-color:$teal;
    border-color:$teal;
    color:#fff;
    &:hover {
      color:#fff;
      background:transparent;
    }
    &.keyline {
      background-color:transparent;
      color:$teal;
      &:hover {
        background-color:$teal;
        border-color:$teal;
        color:#fff;
      }
    }
  }
  .panel.overview-panel {
    ul {
      li {
        &:before {
          color:#fff;
        }
      }
    }
  }
}
.signature-event-mr-lube-tournament-for-life {
  .button {
    background-color:$mr-lube;
    border-color:$mr-lube;
    color:#fff;
    &:hover {
      color:#fff;
      background:transparent;
    }
    &.keyline {
      background-color:transparent;
      color:$mr-lube;
      &:hover {
        background-color:$mr-lube;
        border-color:$mr-lube;
        color:#fff;
      }
    }
  }
  .panel.overview-panel {
    ul {
      li {
        &:before {
          color:#fff;
        }
      }
    }
  }
}



.panel article {
  .tag {
    &.surgery{
      background-color:$surgery;
    }
    &.cancer{
      background-color:$cancer;
    }
    &.heart-lung{
      background-color:$heartlung;
    }
    &.innovation{
      background-color:$innovation;
    }
    &.community{
      background-color:$community;
    }
    &.brain-health{
      background-color:$brainhealth;
    }
  }
}





.theme-section-surgery .panel {
  &.cta-panel {
    background-color:$surgery;
    a {
      border-color:#fff;
      color:#fff;
      &:hover {
        background:#fff;
      }
    }
  }
}
.theme-section-cancer .panel {
  &.cta-panel {
    background-color:$cancer;
    a {
      border-color:#fff;
      color:#fff;
      &:hover {
        background:#fff;
      }
    }
  }
}

.theme-section-heart-lung .panel {
  &.cta-panel {
    background-color:$heartlung;
    a {
      border-color:#fff;
      color:#fff;
      &:hover {
        background:#fff;
      }
    }
  }
}
.theme-section-innovation .panel {
  &.cta-panel {
    background-color:$innovation;
    a {
      border-color:#fff;
      color:#fff;
      &:hover {
        background:#fff;
      }
    }
  }
}
.theme-section-community .panel {
  &.cta-panel {
    background-color:$community;
    a {
      border-color:#fff;
      color:#fff;
      &:hover {
        background:#fff;
      }
    }
  }
}

.theme-section-brain-health .panel {
  &.cta-panel {
    background-color:$brainhealth;
    a {
      border-color:#fff;
      color:#fff;
      &:hover {
        background:#fff;
      }
    }
  }
}



.panel.surgery {
  &.footer-cta {
    background-color:$surgery;
    a {
      border-color:#fff;
      color:#fff;
      &:hover {
        color:$surgery;
      }
    }
  }
}
.panel.cancer {
  &.footer-cta {
    background-color:$cancer;
    a {
      border-color:#fff;
      color:#fff;
      &:hover {
        color:$cancer;
      }
    }
  }
}

.panel.heart-lung {
  &.footer-cta {
    background-color:$heartlung;
    a {
      border-color:#fff;
      color:#fff;
      &:hover {
        color:$heartlung;
      }
    }
  }
}
.panel.innovation {
  &.footer-cta {
    background-color:$innovation;
    a {
      border-color:#fff;
      color:#fff;
      &:hover {
        color:$innovation;
      }
    }
  }
}
.panel.community {
  &.footer-cta {
    background-color:$community;
    a {
      border-color:#fff;
      color:#fff;
      &:hover {
        color:$community;
      }
    }
  }
}

.panel.brain-health {
  &.footer-cta {
    background-color:$brainhealth;
    a {
      border-color:#fff;
      color:#fff;
      &:hover {
        color:$brainhealth;
      }
    }
  }
}

body.front, body.single-signature_events {
  .big-donate.angel-campaign {
    background-color:$angel-pink;
    border: 2px solid #ce89c3;
    a.button:hover {
      color:$angel-pink;
    }
  }

  .big-donate.night-of-a-thousand-stars-gala {
    background-color:$stars-gala;
    a.button:hover {
      color:$stars-gala;
    }
  }
  .big-donate.innovators-challenge {
    background-color:$ino-challenge;
    a.button:hover {
      color:$ino-challenge;
    }
  }

  .big-donate.viva-pharmaceutical-time-shine-gala{
    background-color:$shine-gala;
    a.button:hover {
      color:$shine-gala;
    }
  }

  .big-donate.ismaili-walk {
    background-color:$teal;
    a.button:hover {
      color:$teal;
    }
  }

  .big-donate.mr-lube-tournament-for-life {
    background-color:$mr-lube;
    a.button:hover {
      color:$mr-lube;
    }
  }


  .hero-copy.angel-campaign {
    background-color:$angel-pink;
    @include media($tab){
      width:40.5rem;
    }
    @include media($ptabAndLess){
      height:18rem;
    }
  }

  .hero-copy.night-of-a-thousand-stars-gala {
    background-color:$stars-gala;
  }
  .hero-copy.innovators-challenge {
    background-color:$ino-challenge;
  }

  .hero-copy.viva-pharmaceutical-time-shine-gala {
    background-color:$shine-gala;
  }

  .hero-copy.ismaili-walk {
    background-color:$teal;
  }

  .hero-copy.mr-lube-tournament-for-life {
    background-color:$mr-lube;
  }

}

body.single-themes_post {
  .big-donate.surgery {
    background-color:$surgery;
    a.button:hover {
      color:$surgery;
    }
  }

  .big-donate.cancer {
    background-color:$cancer;
    a.button:hover {
      color:$cancer;
    }
  }

  .big-donate.heart-lung {
    background-color:$heartlung;
    a.button:hover {
      color:$heartlung;
    }
  }

  .big-donate.brain-health {
    background-color:$brainhealth;
    a.button:hover {
      color:$brainhealth;
    }
  }

  .big-donate.innovation {
    background-color:$innovation;
    a.button:hover {
      color:$innovation;
    }
  }

  .big-donate.community {
    background-color:$community;
    a.button:hover {
      color:$community;
    }
  }

}
