// @font-face {
//     font-family: 'Karbon';
//     src: url("../webfonts/karbon/karbon-regular-webfont.eot");
//     src: url("../webfonts/karbon/karbon-regular-webfont.eot?#iefix") format("embedded-opentype"),url("../webfonts/karbon/karbon-regular-webfont.woff") format("woff"),url("../webfonts/karbon/karbon-regular-webfont.ttf") format("truetype"),url("../webfonts/karbon/karbon-regular-webfont.svg#karbonregular") format("svg");
//     font-weight: normal;
//     font-style: normal
// }

// @font-face {
//     font-family: 'Karbon';
//     src: url("../webfonts/karbon/karbon-semibold-webfont.eot");
//     src: url("../webfonts/karbon/karbon-semibold-webfont.eot?#iefix") format("embedded-opentype"),url("../webfonts/karbon/karbon-semibold-webfont.woff") format("woff"),url("../webfonts/karbon/karbon-semibold-webfont.ttf") format("truetype"),url("../webfonts/karbon/karbon-semibold-webfont.svg#karbonsemibold") format("svg");
//     font-weight: bold;
//     font-style: normal
// }

// @font-face {
//     font-family: 'Karbon-Semibold';
//     src: url("../webfonts/karbon/karbon-semibold-webfont.eot");
//     src: url("../webfonts/karbon/karbon-semibold-webfont.eot?#iefix") format("embedded-opentype"),url("../webfonts/karbon/karbon-semibold-webfont.woff") format("woff"),url("../webfonts/karbon/karbon-semibold-webfont.ttf") format("truetype"),url("../webfonts/karbon/karbon-semibold-webfont.svg#karbonsemibold") format("svg");
//     font-weight: normal;
//     font-style: normal
// }


@font-face {
    font-family: 'Karbon-Medium';
    src: url('../webfonts/karbon/karbon-medium-webfont.woff2') format('woff2'),
         url('../webfonts/karbon/karbon-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Karbon';
    src: url('../webfonts/karbon/karbon-regular-webfont.woff2') format('woff2'),
         url('../webfonts/karbon/karbon-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Karbon-Semibold';
    src: url('../webfonts/karbon/karbon-semibold-webfont.woff2') format('woff2'),
         url('../webfonts/karbon/karbon-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


$font: 'Karbon', Helvetica, Arial, sans-serif;
$font-med: 'Karbon-Medium', Helvetica, Arial, sans-serif;
$font-bold: 'Karbon-Semibold', Helvetica, Arial, sans-serif;



h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.75rem 0;
  font-weight:normal;
}
h1 {
  @include font-size(52px);
  font-family: 'Karbon-Semibold';
  @include media($ptab){
    @include font-size(96px);
  }
}

h2 {
  letter-spacing:1px;
  line-height:1;
  font-family: 'Karbon-Medium';
  font-weight:normal;
  @include font-size(30px);
  @include media($ptab){
    @include font-size(55px);
  }
}

h3 {
  @include font-size(24px);
  font-family: 'Karbon-Semibold';
  line-height:1.1;
  @include media($ptab){
    @include font-size(34px);
  }
}

h4 {
  @include font-size(24px);
  font-family: 'Karbon-Medium';
  line-height:1.1;
  @include media($ptab){
    @include font-size(34px);
  }
}

h5 {
  @include font-size(13px);
  font-family: 'Karbon-Semibold';
  text-transform:uppercase;
  letter-spacing:1px;
  line-height:1.1;
  @include media($ptab){
    @include font-size(18px);
  }
}

h1.page-header {
  float:left;
  margin-bottom:3.5rem;
  width:100%;
  @include font-size(52px);
  font-family: 'Karbon-Semibold';
  @include media($ptab){
    @include font-size(96px);
  }
}

.panel {
  p.intro {
    @include font-size(20px);
    line-height:1.26;
    @include media($ptab){
      @include font-size(38px);
    }
  }

  p {
    @include font-size(16px);
    line-height:1.33;
    margin-bottom:2rem;
    @include media($ptab){
      @include font-size(24px);
    }
  }

  p.small, ul.small, ol.small {
    line-height:1.33;
    @include font-size(14px);
    @include media($ptab){
      @include font-size(18px);
    }
  }

  span.small {
    @include font-size(14px);
    @include media($ptab){
      @include font-size(18px);
    }
  }

  ul, ol {
    @include font-size(16px);
    margin-bottom:3rem;
    padding-left:1.5rem;
    line-height:1.33;
    @include media($ptab){
      @include font-size(24px);
    }
    li {
      margin-bottom: 0.75rem;
      padding-left:0.5rem;
    }
  }

  blockquote {
    border-left:2px solid $brand-green;
    margin-left:0;
    padding-left:2rem;
    padding-right:30%;
    p {
      @include font-size(16px);
      line-height:1.33;
      margin:3rem 0;
      @include media($ptab){
        @include font-size(30px);
      }
    }
  }

}

p.date {
  @include font-size(13px);
  font-family: $font-med;
  text-transform:uppercase;
  letter-spacing:1px;
  line-height:1.1;
  @include media($ptab){
    @include font-size(16px);
  }
}