/**
 * Box sizing
 */
html {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html,
body {
  width:100%;
  height:100%;
}

body {
	background:#FFF;
	font-family:$font;
	line-height:1.4;
	font-weight:300;
	color:#454545;
}

a{

}
p{

}


// Headings.
// -----------------------------------
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.75rem 0;
	font-weight:300;
}
h1 {
	@include font-size(60px);
	font-weight:300;
	line-height:1;
}

h2 {
	@include font-size(48px);
	line-height:1.2;
	font-weight:300;
}

h3 {
	@include font-size(30px);
	line-height:1.1;

}


// Global Styles
// -----------------------------------
.show{
  opacity:1;
}
.hide{
  opacity:0;
}
.hidden{
  display:none;
}

#browser-warning {
	position:absolute;
	top:0;
	left:0;
	right:0;
	text-align:center;
	background:#ffc208;
	font-size:24px;
	z-index:1000;
	padding:40px;
	color:#000;

	strong {
		font-weight:bold;
	}
}



.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


// admin link to help people edit pages when you disable the full admin bar
.post-edit-link {
	position:fixed;
	background:#999;
	bottom:10px;
	right:10px;
	display:block;
	border-radius:100px;
	padding:0.5em 1em;
	text-decoration:none;
	transition: background 0.2s linear;
	color:#fff;
	&:hover {
		background:darken(#999, 10);
	}
}


.button {
	display:inline-block;
	border:2px solid $body-text;
	padding:8px 25px;
	text-decoration:none;
	text-transform:uppercase;
	color:$body-text;
	@include font-size(18px);
	font-family:$font-bold;

}

#top-header {
	float:left;
	width:100%;
	padding:20px 0;
	background:#fff;
	position:fixed;
	z-index:100;
	top:0;
	height:100px;
}

.site-name {
	float:left;
	margin:0;
	a {
		width:155px;
		height:57px;
		display:block;
		background-image:url(../img/logo.svg);
		background-repeat:no-repeat;
		border: 0;
	  font: 0/0 a;
	  text-shadow: none;
	  color: transparent;
	}
}


#main-menu, #latest-menu {
	a {
		color:$body-text;
		text-decoration:none;
		@include font-size(11px);
		text-transform: uppercase;
		font-family: 'Karbon-Semibold';
		letter-spacing:2px;
		transition: color 0.25s linear;
		&:hover {
			color:$brand-green;
		}
	}
	.current_page_item a {
		color:$brand-green;
	}
}

#main-menu {
	float:right;

	#primary-nav {
		margin:0;
		margin-top:20px;

		li {
			display:inline-block;
			margin-right:25px;
			position:relative;

			&:before {
				content: '/';
				color:#979797;
				@include font-size(11px);
				position:absolute;
				top:5px;
				left:-17px;
			}

			&:first-child {
				&:before {
					display:none;
				}
			}
		}
	}
}

#latest-menu {
	float:right;
	margin-top:20px;

	a {
		color:$brand-green;
	}
}



@keyframes showsSlideDown {
  0% {
  	transform: translateY(-100%); }

  100% {
  	transform: translateY(0px);
  }
}

@keyframes showsSlideUp {
  0% {
    transform: translateY(0);
	}

  100% {
    transform: translateY(-100%); }
}

@keyframes showTitle {
  0% {
    opacity: 0;
    transform: translateY(-80%);
  }

  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
 }

#latest-highlights {
	position:absolute;
	width:100%;
	left:0;
	right:0;
	top:100px;
	height:0px;
	overflow:hidden;
	.highlight {
		background:#333;
		width:25%;
		height:160px;
		overflow: hidden;
		display:block;
		float:left;
		padding:15px;
		text-align:center;
		border-right:2px solid #fff;
		&:last-child {
			border-color:transparent;
		}

		&:before {
			position:absolute;
			z-index:-1;
			left:0;
			right:0;
			top:0;
			bottom:0;
			content:'';
			display:block;
			width:100%;
			height:100%;
			background:rgba(0,0,0,0.6);
			transition:background 0.3s linear;
		}

		&:after {
			position:absolute;
			z-index:0;
			left:0;
			right:0;
			top:0;
			bottom:0;
			content:'';
			display:block;
			width:100%;
			height:100%;
			background:rgba(255,255,255,0.6);
			transition:background 0.3s linear;
		}

		&:hover {
			&:before {
				background:rgba(0,0,0,0);
			}
			&:after {
				background:rgba(255,255,255,0);
			}

		}

		a {
			@extend .vertical-center;
			display:block;
			z-index:1;
			position:relative;
		}

		h2 {
			@include font-size(20px);
			text-transform: uppercase;
			font-family: 'Karbon-Semibold';
			color:#fff;
			line-height:1;
		}

		span {
			@include font-size(11px);
			text-transform: uppercase;
			font-family: 'Karbon';
			color:#fff;
		}
	}

	.latest-open &, .latest-closed & {
		height:160px;
	}

	.latest-open & {
		.highlight {
			transform: translateY(0);
		}
		.highlight-1 {
			animation: showsSlideDown 300ms cubic-bezier(0.165, 0.84, 0.44, 1) both;

			a {
				animation: showTitle 300ms 200ms cubic-bezier(0.165, 0.84, 0.44, 1) both;
			}
		}
		.highlight-2 {
			animation: showsSlideDown 300ms 50ms cubic-bezier(0.165, 0.84, 0.44, 1) both;

			a {
				animation: showTitle 300ms 400ms cubic-bezier(0.165, 0.84, 0.44, 1) both;
			}

		}
		.highlight-3 {
			animation: showsSlideDown 300ms 100ms cubic-bezier(0.165, 0.84, 0.44, 1) both;

			a {
				animation: showTitle 300ms 600ms cubic-bezier(0.165, 0.84, 0.44, 1) both;
			}

		}
		.highlight-4 {
			animation: showsSlideDown 300ms 150ms cubic-bezier(0.165, 0.84, 0.44, 1) both;
			a {
				animation: showTitle 300ms 800ms cubic-bezier(0.165, 0.84, 0.44, 1) both;
			}
		}
	}

	.latest-closed & {
		.highlight {
			transform: translateY(-170px);
		}
		.highlight-1 {
			animation: showsSlideUp 300ms 150ms cubic-bezier(0.895, 0.03, 0.685, 0.22) both;
		}
		.highlight-2 {
			animation: showsSlideUp 300ms 100ms cubic-bezier(0.895, 0.03, 0.685, 0.22) both;
		}
		.highlight-3 {
			animation: showsSlideUp 300ms 50ms cubic-bezier(0.895, 0.03, 0.685, 0.22) both;
		}
		.highlight-4 {
			animation: showsSlideUp 300ms 0ms cubic-bezier(0.165, 0.84, 0.44, 1) both;
		}
	}
}




.green {
	color:$brand-green;
}

.panel {
  @include clearfix;
  background-color:#fff;

  &.extra-padded {
  	padding: 120px 0;
  }

  p.intro {
  	@include font-size(24px);
  }

}

.hero-content {
	width:100%;
	height:100vh;
	position:relative;
	padding-top:100px;
	background-repeat: no-repeat;
	background-size:cover;
	background-position:50% 0%;

	.container {
		position:relative;
		height:100%;
	}

	.hero-copy {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    blockquote {
    	@include font-size(24px);
    	color:#fff;
    	font-family:$font-bold;
    	margin:0;
    	margin-bottom:40px;
    	display:inline;
    	background:$brand-green;
    }
	}

	h1 {
		margin-bottom:0;
		position:absolute;
		bottom:65px;
		right:0;
		color:#fff;
		@include font-size(55px);
		font-family: 'Karbon-Semibold';
	}

	.down-arrow {
		background:transparent;
		transition: background 0.3s linear;
		width:100%;
		padding:10px 0 3px 0;
		text-align:center;
		position:absolute;
		left:0;
		right:0;
		bottom:0;

		&:hover {
			background:$brand-green;
		}
	}
}

#newsletter-signup {
	padding:80px 0;
	text-align:center;
}

#footer {
	background-color:$footer-bg;
	color:#fff;
	padding:60px 0;
}