/**
 * Box sizing
 */
html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  width:100%;
  height:100%;
}

body {
  background:#FFF;
  font-family:$font;
  line-height:1.4;
  font-weight:300;
  color:$body-text;
}

a{

}

p {
  margin-top:0;
}


// Global Styles
// -----------------------------------
.show{
  opacity:1;
}
.hide{
  opacity:0;
}
.hidden{
  display:none;
}

#browser-warning {
  position:absolute;
  top:0;
  left:0;
  right:0;
  text-align:center;
  background:#ffc208;
  font-size:24px;
  z-index:1000;
  padding:40px;
  color:#000;

  strong {
    font-weight:bold;
  }
}



.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.post-edit-link {
  position:fixed;
  background:#999;
  bottom:10px;
  right:10px;
  display:block;
  border-radius:100px;
  padding:0.5em 1em;
  text-decoration:none;
  transition: background 0.2s linear;
  color:#fff;
  &:hover {
    background:darken(#999, 10);
  }
}


.button {
  display:inline-block;
  border:2px solid $body-text;
  padding:8px 25px;
  text-decoration:none;
  text-transform:uppercase;
  font-family:$font-bold;
  color:$body-text;
  @include font-size(18px);
  letter-spacing: 2px;
  transition: all 0.3s linear;
  color:#fff;
  background-color:$brand-green;
  border:2px solid $brand-green;
  &:hover {
    color:#fff;
    background-color:transparent;
    color:$brand-green;
  }

  &.white {
    border:2px solid #fff;
    color:#fff;

    &:hover {
      background-color:#fff;
      color:$brand-green;
    }
  }

  &.green {
    color:#fff;
    background-color:$brand-green;
    border:2px solid $brand-green;
    &:hover {
      color:#fff;
      background-color:transparent;
      color:$brand-green;
    }
  }

  &.green-keyline, &.keyline {
    border:2px solid $brand-green;
    color:$brand-green;
    background-color:transparent;
    &:hover {
      color:#fff;
      background-color:$brand-green;
      border:2px solid $brand-green;
    }
  }

  &.white-keyline {
    border:2px solid #fff;
    color:#fff;
    background-color:transparent;
    &:hover {
      color:$brand-green;
      background-color:#fff;
      border:2px solid #fff;
    }
  }


  &.grey {
    background-color:$body-text;
    color:#fff;
    border:2px solid $body-text;
  }

}

.page-wrap {
  overflow:hidden;
}

#top-header {
  float:left;
  width:100%;
  padding:20px 0;
  background:#fff;
  position:fixed;
  z-index:100;
  top:0;
  height:100px;
}

.site-name {
  float:left;
  margin:0;
  a {
    width:155px;
    height:57px;
    display:block;
    background-image:url(../img/logo.svg);
    background-repeat:no-repeat;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
  }
}


#main-menu, #latest-menu {
  a {
    color:$body-text;
    text-decoration:none;
    @include font-size(13px);
    text-transform: uppercase;
    font-family: 'Karbon-Semibold';
    letter-spacing:2px;
    transition: color 0.25s linear;
    &:hover {
      color:$brand-green;
    }
  }
  .current_page_item a {
    color:$brand-green;
  }
}

.single-themes_post {
  #sub-navigation {
    transform: translate3d(0, -45px, 1px);
    transition: transform 0.25s linear;
  }

  &.fixed-sub-nav {
    #sub-navigation {
      transform: translate3d(0, 0, 1px);

    }
  }
}

#main-menu {
  float:left;

  #primary-nav {
    margin:0;
    margin-top:20px;
    padding:0;
    margin-left:60px;
    float:left;

    li {
      display:inline-block;
      margin-right:30px;
      position:relative;

      &:before {
        content: '/';
        color:#979797;
        @include font-size(11px);
        font-family:$font-bold;
        position:absolute;
        top:5px;
        left:-20px;
      }

      &:first-child {
        &:before {
          display:none;
        }
      }
    }

    li {
      &.menu-item-has-children {
        position: relative;
        // &:after {
        //  content:'';
        //  background:url(../img/carret.svg) no-repeat;
        //  display:inline-block;
        //  position:relative;
        //  top:4px;
        //  right:-2px;
        //  width:10px;
        //  height:10px;
        // }
        .sub-menu {
          background:#fff;
          display:inline-block;
          padding:20px 30px 10px 30px;
          position: absolute;
          left:-25px;
          top:33px;
          transition: all 0.3s ease-in-out;
          opacity:0;
          max-height:0;
          z-index:3;

          li {
            margin-bottom:15px;
            float:left;
            margin-right:0;
            width:120px;
            line-height:1.1;

            &:before {
              display:none;
            }
          }



          a {
            color:$body-text;
            text-transform: uppercase;
            @include font-size(11px);
            &:hover {
              color:$brand-green;
            }
          }
        }

        &:hover {
          .sub-menu {
            opacity: 1;
            max-height:400px;
          }
        }
      }
    }
  }
}

#language-switcher {
  margin:0;
  margin-top:20px;
  padding:0;
  margin-left:0px;
  float:left;

  li {
    display:inline-block;
    margin-right:25px;
    position:relative;

    &:before {
      content: '|';
      color:#979797;
      @include font-size(11px);
      position:absolute;
      top:5px;
      left:-17px;
    }

    &:first-child {
      &:before {
        display:none;
      }
    }

  }
}

#top-header {
  .big-donate {
    position:absolute;
    right:20px;
    top:20px;
    bottom:20px;
    // height:100%;
    border:0;
    padding:0px 55px;
    line-height:3.5;

    &:hover {
      background-color:$light-grey;
      color:#fff;
    }
  }
  #toggleLatest {
    margin-right:30px;
    position:relative;


    &:after {
        content:'';
        background:url(../img/carret-line.svg) no-repeat;
        display:inline-block;
        position:relative;
        top:2px;
        right:-7px;
        width:8px;
        height:8px;
        background-size:contain;
      }
  }

  .latest-open & {
    #toggleLatest {
      color:$brand-green;
    }
  }
}



// #latest-menu {
//  float:right;
//  // margin-top:20px;

//  .utility-menu {
//    margin:0;
//    margin-top:20px;
//    padding:0;
//    margin-left:60px;

//    li {
//      display:inline-block;
//      margin-left:35px;
//      position:relative;

//      &:before {
//        content: '/';
//        color:#979797;
//        @include font-size(11px);
//        position:absolute;
//        top:5px;
//        left:-23px;
//      }

//      &:first-child {
//        &:before {
//          display:none;
//        }
//      }
//    }
//  }
// }



@keyframes showsSlideDown {
  0% {
    transform: translateY(-100%); }

  100% {
    transform: translateY(0px);
  }
}

@keyframes showsSlideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%); }
}

@keyframes showTitle {
  0% {
    opacity: 0;
    transform: translateY(-80%);
  }

  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
 }

#latest-highlights {
  position:absolute;
  width:100%;
  left:0;
  right:0;
  top:100px;
  height:0px;
  overflow:hidden;
  .highlight {
    background:#333;
    width:25%;
    height:160px;
    overflow: hidden;
    display:block;
    float:left;
    padding:15px 30px;
    // text-align:center;
    border-right:2px solid #fff;
    @include media($laptopHeightOnly){
      height:120px;
    }
    &:last-child {
      border:0;
    }

    &:before {
      position:absolute;
      z-index:-1;
      left:0;
      right:0;
      top:0;
      bottom:0;
      content:'';
      display:block;
      width:100%;
      height:100%;
      background:rgba(0,0,0,0.8);
      transition:background 0.3s linear;
    }

    &:after {
      position:absolute;
      z-index:0;
      left:0;
      right:0;
      top:0;
      bottom:0;
      content:'';
      display:block;
      width:100%;
      height:100%;
      transition:background 0.3s linear;
      background:rgba(255,255,255, 0.3);
    }

    // &:nth-child(1):after{
    //  background:rgba($purple, 0.5);
    // }
    // &:nth-child(2):after{
    //  background:rgba($brand-green, 0.5);
    // }
    // &:nth-child(3):after{
    //  background:rgba($light-blue, 0.5);
    // }
    // &:nth-child(4):after{
    //  background:rgba($teal, 0.5);
    // }


    &:hover {
      span {
        border-bottom:1px solid rgba(255,255,255,0.8);
        padding-bottom:5px;
      }
      &:before {
        background:rgba(0,0,0,0);
      }
      &:after{
        background:$brand-green;
      }
      // &:nth-child(1):after{
      //  background:rgba($purple, 1);
      // }
      // &:nth-child(2):after{
      //  background:rgba($brand-green, 1);
      // }
      // &:nth-child(3):after{
      //  background:rgba($light-blue, 1);
      // }
      // &:nth-child(4):after{
      //  background:rgba($teal, 1);
      // }

    }

    a {
      @extend .vertical-center;
      display:block;
      z-index:1;
      position:relative;
    }

    h2 {
      @include font-size(14px);
      text-transform: uppercase;
      font-family: 'Karbon-Semibold';
      color:#fff;
      line-height:1;
    }

    span {
      @include font-size(11px);
      text-transform: uppercase;
      letter-spacing:2px;
      font-family: $font;
      color:#fff;
      border:0;
    }
  }

  .latest-open &, .latest-closed & {
    height:160px;
  }

  .latest-closed-finished & {
    height:0;
  }

  .latest-open & {
    .highlight {
      transform: translateY(0);
    }
    .highlight-1 {
      animation: showsSlideDown 300ms cubic-bezier(0.165, 0.84, 0.44, 1) both;

      a {
        animation: showTitle 300ms 200ms cubic-bezier(0.165, 0.84, 0.44, 1) both;
      }
    }
    .highlight-2 {
      animation: showsSlideDown 300ms 50ms cubic-bezier(0.165, 0.84, 0.44, 1) both;

      a {
        animation: showTitle 300ms 400ms cubic-bezier(0.165, 0.84, 0.44, 1) both;
      }

    }
    .highlight-3 {
      animation: showsSlideDown 300ms 100ms cubic-bezier(0.165, 0.84, 0.44, 1) both;

      a {
        animation: showTitle 300ms 600ms cubic-bezier(0.165, 0.84, 0.44, 1) both;
      }

    }
    .highlight-4 {
      animation: showsSlideDown 300ms 150ms cubic-bezier(0.165, 0.84, 0.44, 1) both;
      a {
        animation: showTitle 300ms 800ms cubic-bezier(0.165, 0.84, 0.44, 1) both;
      }
    }
  }

  .latest-closed & {
    .highlight {
      transform: translateY(-170px);
    }
    .highlight-1 {
      animation: showsSlideUp 300ms 150ms cubic-bezier(0.895, 0.03, 0.685, 0.22) both;
    }
    .highlight-2 {
      animation: showsSlideUp 300ms 100ms cubic-bezier(0.895, 0.03, 0.685, 0.22) both;
    }
    .highlight-3 {
      animation: showsSlideUp 300ms 50ms cubic-bezier(0.895, 0.03, 0.685, 0.22) both;
    }
    .highlight-4 {
      animation: showsSlideUp 300ms 0ms cubic-bezier(0.165, 0.84, 0.44, 1) both;
    }
  }
}




.green {
  color:$brand-green;
}

.read-more {
  text-transform:uppercase;
  text-decoration:none;
  @include font-size(18px);
  color:$brand-green;
  border-bottom:1px solid $brand-green;
  letter-spacing:2px;
  padding-bottom:8px;
  transition: all 0.3s linear;
  font-family:$font-med;

  &:hover {
    color:$light-grey;
    border-bottom:1px solid $light-grey;
  }

  &.small {
    @include font-size(12px);
  }

  &.white {
    color:#fff;
    border-bottom:1px solid #fff;
  }
}

.panel {
  @include clearfix;
  background-color:#fff;

  &.padded {
    padding:rem(60) 0;
  }

  &.extra-padded {
    padding: rem(120) 0;
  }

  &.padded-top {
    padding-top:rem(60);
  }

  &.title-only, &.extra-padded-top {
    padding-top:rem(120);
  }

  &.grey-bg {
    background: $lighter-grey;
  }

  .col-row {
    float:left;
  }

  .col-half {
    width:50%;
    float:left;
    padding-right:5%;
    margin-bottom:1rem;
  }

  a {
    color:$brand-green;
    text-decoration:none;
  }

  .center, .centre {
    text-align:center;
  }

}

span.highlighted-text {
  display:inline;
  background:$brand-green;
  color:#fff;
}


.highlight-text-upper {
  @include font-size(24px);
  text-transform:uppercase;
  letter-spacing:2px;
  background:$teal;
  color:#fff;
  display:inline-block;
  padding:5px 20px;
  margin-bottom:10px;
}

.hero-content {
  width:100%;
  height:calc(100vh - 70px);
  position:relative;
  padding-top:100px;

  .container {
    position:relative;
    height:100%;
  }

  .inner-wrap {
    position:initial;
  }

  .hero-copy {
    position: absolute;
    bottom:-70px;
    width:rem(600);
    min-height:375px;
    padding:60px 40px 30px 60px;
    @include font-size(38px);
    color:#fff;
    margin:0;
    display:inline;
    background:$brand-green;
    transition:background 1s linear;
    @include media($laptopHeightOnly){
      min-height:290px;
    }

    &[data-colour-type="surgery"] {
      background-color:$surgery;
    }
    &[data-colour-type="cancer"] {
      background-color:$cancer;
    }
    &[data-colour-type="heartlung"] {
      background-color:$heartlung;
    }
    &[data-colour-type="brainhealth"] {
      background-color:$brainhealth;
    }
    &[data-colour-type="innovation"] {
      background-color:$innovation;
    }
    &[data-colour-type="community"] {
      background-color:$community;
    }


    &:after {
      content:'';
      display:block;
      background:url(../img/side-v.svg) no-repeat;
      width:3000px;
      height:2637px;
      position:absolute;
      right:-24px;
      top:-1312px;
      z-index:0;
    }
  }

  h1, p {
    z-index:1;
    position:relative;
  }

  h1 {
    margin-top:-135px;
    margin-bottom:1rem;
    color:#fff;
    @include font-size(96px);
    font-family: 'Karbon-Semibold';
    @include media($laptopHeightOnly){
      @include font-size(70px);
      margin-top:-115px;

    }
  }

  p.intro {
    @include media($laptopHeightOnly){
      @include font-size(28px);
    }
  }
}

.panel.slideshow {

  .slide-images {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    z-index:0;
    white-space:nowrap;
    overflow: hidden;

    .slide-bg {
      width:100%;
      height:100%;
      background-repeat: no-repeat;
      background-size:cover;
      background-position:50% 100px;
      display:inline-block;
      transition: transform 1s ease-in-out;
    }

  }

  .slide-text {
    opacity:0;
    visibility:hidden;
    height:0;

    &.active {
      opacity:1;
      visibility:visible;
      height:auto;
    }

  }

  .slide-pager {
    padding:0px;
    margin: 0;
    position:absolute;
    bottom:20px;

    li {
      display:inline-block;
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      width:12px;
      height:12px;
      border:1px solid #fff;
      border-radius:100px;
      background-color:#fff;
      margin-right:7px;

      &.active {
        background-color:transparent;
      }
    }
  }

}

.panel.overview-panel {
  margin-top:rem(80);
  padding-bottom:rem(80);
  .col-grid-6:first-child {
    padding-right:40px;
  }
  .col-grid-6:last-child {
    padding-left:40px;
  }

  p {
    @include font-size(24px);
    line-height:1.3;
  }

  &.sidebar-right {
    .col-grid-9 {
      @include media($desk) {
        padding-left:3.75rem;
        padding-right:6rem;
      }
    }
  }

}

svg.icon.close-x {
  width:25px;
  height:25px;
  display:inline-block;
  fill:#fff;
}

#themes-section {
  background-repeat: no-repeat;
  background-size:100%;
  color:#fff;
  height:calc(100vh - 16.666vw);
  min-height:900px;
  position:relative;

  &.expanded-overlay {
    &:before {
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background: rgba(0,0,0,0.5);
      content:'';
    }
  }
  .container {
    position:relative;
    .summary {
      width:55%;
      color: #fff;
      line-height: 1.5;

      h5 {
        display:inline-block;
        padding:5px 10px;
      }
    }
  }

  .hover-bg-image {
    position:absolute;
    background-size:cover;
    width:100%;
    height:100%;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:0;
    overflow: hidden;

    &:before {
      z-index:0;
      content:'';
      left:0;
      right:0;
      top:0;
      bottom:0;
      display:block;
      width:100%;
      height:100%;
      background: linear-gradient(to right, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
    }

    &:after {
      content:'';
      display:block;
      background:url(../img/side-v.svg) no-repeat;
      // background-position:-2000px 50%;
      left:0;
      right:0;
      top:0;
      bottom:0;
      width:3000px;
      height:2637px;
      position:absolute;
      left:50%;
      top:50%;
      transform:translate3d(-100%,-50%,0);

      z-index:0;
    }
  }

  .themes-items {
    .themes-item {
      display:none;

      .container {
        transform: translateY(-50%);
        padding-top: 50%;

      }

      h5 {
        color:#fff;
      }

      &.active {
        display:block;
      }

      &.surgery {
        h5 {
          background-color:$surgery;
        }
      }
      &.cancer {
        h5 {
          background-color:$cancer;
        }
      }
      &.heart-lung {
        h5 {
          background-color:$heartlung;
        }
      }
      &.innovation {
        h5 {
          background-color:$brainhealth;
        }
      }
      &.community {
        h5 {
          background-color:$innovation;
        }
      }
      &.brain-health {
        h5 {
          background-color:$community;
        }
      }


    }
  }

  #themes-menu {
    position:absolute;
    bottom:0;
  }
}

.panel {
  #themes-menu {

    width: 100%;
    list-style: none;
    padding:0;
    margin:0;
    left:0;
    right:0;
    height:16.666vw;

    li {
      position: relative;
      width: 16.666vw;
      height:100%;
      float: left;
      transition: opacity 0.2s cubic-bezier(0.28, 0, 0.18, 1);
      z-index: 1;
      margin-bottom:0;



      &:after {
        content:'';
        display:block;
        width:100%;
        height:100%;
        position:absolute;
        transform: scale(1);
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:-1;
        transition: transform 0.2s cubic-bezier(0.28, 0, 0.18, 1)
      }

      &:hover {
        z-index: 2;

        a {
          z-index:222;
        }

        &:after {
          opacity:1;
          transform: scale(1.1);
        }

        .thumb {
          opacity:0;
        }
      }

      &.surgery {
        &:after {
          background-color:$surgery;
        }
      }
      &.cancer {
        &:after {
          background-color:$cancer;
        }
      }
      &.heart-lung {
        &:after {
          background-color:$heartlung;
        }
      }
      &.innovation {
        &:after {
          background-color:$innovation;
        }
      }
      &.community {
        &:after {
          background-color:$community;
        }
      }
      &.brain-health {
        &:after {
          background-color:$brainhealth;
        }
      }

      .thumb {
        width:100%;
        left:0;
        right:0;
        bottom:0;
        position:absolute;
        background-size:cover;
        opacity:1;
        transition: opacity 0.2s linear;
        top:rem(60);
      }

      span {
        padding:rem(15) rem(20);
        width:100%;
        left:0;
        right:0;
        top:0;
        position: absolute;
        transition: all 0.2s cubic-bezier(0.28, 0, 0.18, 1);

        &.read-more {
          color:#fff;
          border-color:#fff;
          top:auto;
          bottom:25px;
          left:20px;
          right:auto;
          padding:0;
          padding-bottom:8px;
          width:auto;
        }
      }

      a {
        backface-visibility: hidden;
      }

      .open {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: #fff;
        text-transform:uppercase;
        font-family:$font-bold;
        text-decoration:none;
        letter-spacing:1px;
        font-size:1rem;
        @include media($wideDesk){
          @include font-size(24px);
        }
      }
    }

  }
}

form {
  input[type="text"], input[type="email"] {
    background-color:#e1e1e1;
    border:0;
    padding:10px 15px;
    margin-right:10px;
    @include font-size(16px);
    min-width:280px;
    height:45px;
  }
  input[type="submit"] {
    height:45px;
    margin-left:10px;
    padding-left:60px;
    padding-right:60px;
  }
}

#newsletter-signup {
  padding:80px 0 80px;
  text-align:center;

  .front & {
    padding:120px 0 80px;
  }

  .intro {
    color:$light-grey;
    @include font-size(36px);
  }
}

#footer {
  background-color:$footer-bg;
  color:#fff;
  padding:60px 0;

  .col {
    width:250px;
    float:left;
    padding-left:60px;
  }

  .footer-right {
    float:right;
  }

  .menu {
    padding:0;
    li {
      display:inline-block;
      width:100%;
    }
  }

  .social {
    padding:0;
    li {
      display:inline-block;
      @include font-size(18px);
      margin-right:20px;

    }
  }

  h4 {
    text-transform:uppercase;
    letter-spacing:2px;
    @include font-size(14px);
    font-family:$font-bold;
    margin-bottom:1.5rem;
  }

  a {
    color:#fff;
    text-decoration:none;
  }

  .bottom-line {
    color:#a6adae;
    @include font-size(14px);
    margin-top:60px;

    .copyright {
      float:left;
      margin:0;
    }

    .footer-secondary-menu {
      float:right;
    }


    a {
      color:#a6adae;
      text-decoration:none;
      margin:0 5px;
    }
  }

  .green-text {
    a {
      color:$brand-green;
    }
  }
}

.events-list {
  padding-top:100px;

  .event-item {
    padding:80px 0;
    transition: padding 0.5s ease-in-out;
    background-size:cover;
    background-position:50% 50%;
    position:relative;
    text-align:center;



    // &:before {
    //  position:absolute;
    //  z-index:-1;
    //  left:0;
    //  right:0;
    //  top:0;
    //  bottom:0;
    //  content:'';
    //  display:block;
    //  width:100%;
    //  height:100%;
    //  background:rgba(0,0,0,0.7);
    //  transition:background 0.3s linear;
    // }

    // &:after {
    //  position:absolute;
    //  z-index:0;
    //  left:0;
    //  right:0;
    //  top:0;
    //  bottom:0;
    //  content:'';
    //  display:block;
    //  width:100%;
    //  height:100%;
    //  transition:background 0.3s linear;
    //  background:rgba(#000, 0.2);
    // }

    // &:nth-child(2):after {
    //  background:rgba(#fff, 0.5);
    // }

    &:hover {
      padding:120px 0;
    }

    .container {
      z-index:2;
      position:relative;
    }

    .highlight-text-upper {
      color:$body-text;
      background:#fff;
    }

    p {
      margin:0;
    }

    .button {
      border:0;
      margin-top:1rem;
      padding-bottom:0;
      color:$body-text;
    }

    &:nth-child(2) {
      .highlight-text-upper {
        background:#e1e1e1;
      }
    }

  }



}

.panel-1 {
  min-height:200px;
}

.panel.page-header {
  width:100%;
  height:560px;
  position:relative;
  padding-top:100px;
  background-repeat: no-repeat;
  background-size:cover;
  background-position:50% 100px;
  // margin-top:100px;

  .container {
    position:relative;
    height:460px;
  }

  .inner-wrap {
    position:initial;
  }

  .header-copy {
    position: absolute;
    bottom:-100px;
    width:rem(600);
    min-height:300px;
    padding:60px 40px 0px 60px;
    @include font-size(24px);
    color:#fff;
    line-height:1.33;

    margin:0;
    display:block;
    background:$brand-green;

    &:after {
      content:'';
      display:block;
      background:url(../img/side-v.svg) no-repeat;
      width:3000px;
      height:2637px;
      position:absolute;
      right:-24px;
      top:-1108px;
      z-index:0;
    }
  }

  h1, p {
    z-index:1;
    position:relative;
  }

  h1 {
    float:left;
    margin-top:-110px;
    margin-bottom:1rem;
    width:100%;
    color:#fff;
    line-height:0.8;
    text-transform:lowercase;

    // @include font-size(96px);
    // font-family: 'Karbon-Semibold';
  }

  p {
    padding-right:3rem;
  }

}


#sub-navigation {
  width:100%;
  height:45px;
  background-color:$light-grey;
  position:fixed;
  top:100px;
  z-index:3;

  h3 {
    // float:left;
    margin-bottom:0;
    color:#fff;
    @include font-size(18px);
    text-transform:uppercase;
    letter-spacing:1px;
    display:inline;
  }

  // .top-donate {
  //   float:right;
  //   border:0;
  //   height:45px;
  //   color:#fff;
  //   background:$body-text;
  //   @include font-size(14px);
  //   line-height:2.2;
  // }

  .breadcrumb {
    padding-top:12px;

    a {
      color:#fff;
      text-decoration:none;
    }

    .back-arrow {
      margin-right:10px;
    }

    .separator {
      @include font-size(16px);
      color:#fff;
      font-family:$font-med;
      display:inline-block;
      padding-left:10px;
      padding-right:10px;
    }
  }

}

.panel.themes-pagination {
  margin-top:100px;
  position:relative;
  padding:80px 0 60px 0;

  svg.icon {
    width:40px;
    height:36px;
    float:left;
    margin-top:6px;

  }
  .pager-title {
    float:left;
    margin-top:0px;
  }

  a {
    color:$light-grey;
    @include font-size(36px);
    text-decoration:none;
    transition:color 0.3s linear;

    &:hover {
      color:$brand-green;
    }
  }

  .prev {
    float:left;
    .pager-title {
      margin-left:20px;
    }
  }

  .next {
    float:right;
    .pager-title {
      margin-right:20px;
    }
  }

  .back-to-top {
    float:left;
    width:100%;
    margin-top:60px;
  }

}



.panel.footer-donation {
  background-color:$lighter-grey;
  padding:60px 0;

  h1 {
    @include font-size(55px);
    float:left;
    line-height:0.7;
    font-family:$font-bold;
  }

  .button {
    padding-left:60px;
    padding-right:60px;
    float:right;
    height:45px;
  }
}


.panel.three-column-list {
  background: $lighter-grey;
  display:table;
  width:100%;

  &.white-bg {
    background-color:#fff;

    .copy {
      background: $lighter-grey;
    }
  }

  article {
    position:relative;
    padding-top:20%;

    h4 {
      font-family:$font;
    }

    img {
      position:absolute;
      top:0;
      z-index:0;
      width:100%;
      transform:scale(1);
      transition:transform 0.2s linear;
    }

    &:hover {
      img {
        transform:scale(1.1);
        z-index: 1;
      }

      .copy {
        background-color:$brand-green;
        color:#fff;

        .read-more {
          border-color:#fff;
          // background-color:transparent;
          color:#fff;
        }
      }
    }
  }

  p {
    margin-bottom:0;
  }

  .copy {
    background-color:#fff;
    padding:30px;
    width:calc(100% - 120px);
    margin-left:60px;
    margin-right:60px;
    position:relative;
    z-index:1;
    transition:all 0.2s linear;
  }
}


.panel.donation-panel-tabs {
  padding-top:rem(160);
  // position:relative;
  [data-tab-content]{
    display:none;

    &.active {
      display:table;
    }
  }

  .inner-wrap {
    margin:0;
  }

  .tabs {
    padding:0;
    margin:0;
    text-align:center;
    margin-bottom:60px;
    position:relative;
    li {
      display:inline-block;
      margin:30px 40px 0px 40px;
      // background-color:#c4d9a2;
      text-decoration:none;
      text-transform:uppercase;
      font-family:$font-bold;
      color:$body-text-light;
      padding-bottom:5px;
      padding-left:0;
      padding-right:0;
      @include font-size(24px);
      letter-spacing: 2px;
      border-bottom:3px solid transparent;
      transition: all 0.3s linear;
      // border-right:2px solid $lighter-grey;
      cursor: pointer;

      &:hover, &.active {
        color:$brand-green;
        border-bottom:3px solid $brand-green;
      }
    }
  }

  .narrow-wrap {
    max-width:795px;
    margin:auto;
  }

  .donation-amounts {
    color:$body-text;
    text-align:center;

    span {
      font-family:$font-bold;
      @include font-size(35px);
      margin-right:rem(10);
      position:relative;
      color:$brand-green;
      transition: color 0.3s linear;
      cursor: pointer;
      padding:rem(5) rem(30);
      border:2px solid $brand-green;


      &:hover, &.selected {
        color:#fff;
        background-color:$brand-green;
      }

      // &:after {
      //   content:'';
      //   width:1px;
      //   height:51px;
      //   display:block;
      //   background-color:$body-text;
      //   position:absolute;
      //   top:15px;
      //   right:-20px;
      // }
    }

    input {
      display:inline-block;
    }

    span.other {
      margin-right:25px;
      border:0;

      &:hover {
        color:$brand-green;
        background-color:transparent;
      }

      &:after {
        display:none;
      }
    }

    input[name="set.Value"] {
      background:transparent;
      border-bottom:2px solid $brand-green;
      @include font-size(55px);
      padding:25px 0px;
      width:90px;
      min-width:0;
      text-align:center;
    }

    input[type="submit"] {
      padding-left: rem(20);
      padding-right: rem(20);
      margin-top:rem(35);
    }

    #submit {
      display:none;
    }

  }

  .three-column-list {
    h4 {
      font-family:$font;
    }
  }

}


.panel {
  .section-title {
    margin-bottom:60px;
  }
}

// .panel.three-column-boxes {
//  .inner-wrap {
//    display:table;
//    width:100%;
//  }

//  .col-third {
//    padding:30px;
//    width:calc(33.33% - 60px);
//    margin-right:30px;
//    margin-bottom:30px;
//    display:table-cell;
//    position:relative;

//    h3, p {
//      position:relative;
//      z-index:3;
//    }

//    &:before {
//      content:'';
//      width:100%;
//      height:100%;
//      display:block;
//      position:absolute;
//      background-color:$lighter-grey;
//      z-index:1;
//      left:0;
//      right:0;
//      top:0;
//      bottom:0;
//      background-image:url(../img/side-v-hover.svg);
//      background-repeat:no-repeat;
//      background-size:cover;
//      background-position:-400px 50%;
//      transition:all 0.15s linear;
//    }

//    &:after {
//      content:'';
//      width:100%;
//      height:100%;
//      display:block;
//      background:rgba($brand-green, .2);
//      position:absolute;
//      z-index:0;
//      right:-5px;
//      bottom:-5px;
//      transition: all 0.2s linear;
//    }

//    &:hover {
//      &:before {
//        background-position:-50% 50%;
//      }
//      &:after {
//        right:0;
//        bottom:0;
//      }
//    }


//    h3 {
//      margin-bottom:20px;
//      @include font-size(34px);
//    }

//    p {
//      @include font-size(18px);
//      margin-bottom:40px;

//      &.bottom {
//        margin-bottom:0;
//      }
//    }
//  }
// }


.style-guide {
  padding-bottom:200px;

  .container {
    padding-left:20%;
  }

  .fixed-sidebar {
    position:fixed;
    width:20%;
    margin-left:-20%;
    padding-top:150px;
    ul {
      padding:0;
      li {
        padding:0;

        &.active a {
          color:$brand-green;
        }
      }
    }
  }

  .style-section {
    padding-top:160px;
    margin-bottom:-100px;

  }

  .section-title {
    @include font-size(18px);
    text-transform:uppercase;
    letter-spacing:2px;
    border-bottom:1px solid #ccc;
    padding-bottom:20px;
    margin-bottom:30px;
    font-family:$font;
  }

  #headings {
    h1, h2, h3, h4, h5 {
      margin-bottom:30px;
    }
  }

  #brand-colours {
    img {
      max-width:100%;
      height:auto;
      margin-top:2rem;
      margin-bottom:1rem;
    }
  }
}

.fixed-sidebar {
  ul {
    padding:0;
    margin:0;
    li {
      display:inline-block;
      width:100%;
      margin-bottom:10px;
      a {
        color:$body-text;
        @include font-size(34px);
        text-decoration:none;
        &:hover {
          color:$brand-green;
        }
      }
    }
  }
}



.panel.themes-overview-stats {
  background-color:#f3f3f3;
  position:relative;

  .top-menu {
    width: 100%;
    list-style: none;
    top:0;
    padding:0;
    margin:0;

    li {
      position: relative;
      width: 16.666vw;
      float: left;
      transition: opacity 0.2s cubic-bezier(0.28, 0, 0.18, 1);
      z-index: 1;
      margin-bottom:0;



      &:after {
        content:'';
        display:block;
        width:100%;
        height:100%;
        position:absolute;
        transform: scale(1);
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:-1;
        transition: all 0.2s cubic-bezier(0.28, 0, 0.18, 1)
      }

      &:hover {
        z-index: 2;

        a {
          z-index:222;
        }

        &:after {
          opacity:1;
          transform: scale(1.1, 1.5);
        }
      }

      &.surgery {
        &:after {
          background-color:$surgery;
        }
      }
      &.cancer {
        &:after {
          background-color:$cancer;
        }
      }
      &.heart-lung {
        &:after {
          background-color:$heartlung;
        }
      }
      &.innovation {
        &:after {
          background-color:$innovation;
        }
      }
      &.community {
        &:after {
          background-color:$community;
        }
      }
      &.brain-health {
        &:after {
          background-color:$brainhealth;
        }
      }

      span {
      }

      a {
        color: #fff;
        text-transform:uppercase;
        font-family:$font-bold;
        text-decoration:none;
        letter-spacing:1px;
        padding:rem(10) rem(15);
        display:inline-block;
        width:100%;
        left:0;
        right:0;
        top:0;
        transition: all 0.2s cubic-bezier(0.28, 0, 0.18, 1);
        backface-visibility: hidden;
        font-size:1rem;
        @include media($wideDesk){
          @include font-size(24px);
        }
      }
    }
  }

  .tab-content {
    height:100%;
    padding-left:20px;

    .tab-content-item {
      height:100%;
      display:none;
      &.active {
        display:block;
      }
    }
    float:left;
    width:100%;
    height:100%;
    .tab-body {
      float:left;
      width:calc(100% - 33.333%);
      padding-top:rem(120);
      padding-bottom:rem(120);
      padding-left:calc(50vw - 640px);
      height:100%;

      .col-half:first-child {
        padding-right:10%;
      }

      .col-half:last-child {
        padding-top:rem(32);
        // padding-left:0%;
        // padding-right:0;
      }
    }

    .tab-sidebar {
      float:left;
      width:33.333%;
      height:100%;

      figure {
        margin:0;
        height:100%;
        position:absolute;
        width:33.333%;
        right:0;
        top:0;
        bottom:0;
        background-size:cover;
        background-position:50% 50%;


        figcaption {
          background-color:rgba(#575b5d, 0.5);
          padding:rem(40);
          color:#fff;
          position:absolute;
          bottom:0;


          p {
            margin-bottom:0;
          }
        }
      }
    }

    .fact-row {
      width:100%;
      float:left;
      margin-bottom:rem(30);

      h5 {
        margin-bottom:rem(30);
      }

      .left, .right {
        float:left;
        width:rem(155);
      }

      .left {
        p {
          line-height:1;
        }
      }

      .right {
        padding-top:rem(5);
        position:relative;

        &:before {
          background-color:$body-text;
          width:1px;
          height:calc(100% - 2rem);
          content:'';
          display:block;
          position:absolute;
          left:-2rem;
        }
      }


      .number {
        @include font-size(72px);
      }
    }
  }
}



.panel.bg-image-cta {
  color:#fff;
  text-align:center;
  background-size:cover;
  background-repeat:50% 50%;

  h2 {
    margin-bottom:3rem;
  }

  p {
    margin-bottom:0;
  }
}


.panel.slideshow-content-panel {
  position:relative;
  .slide-images {
    width:75%;
    margin-left:25%;
    height:rem(515);
    position:relative;
    z-index:0;
    top:0;

    .slide-bg {
      background-position:50% 0px;
    }
  }

  .slide-content {
    background:#fff;
    padding:rem(60);
    position:absolute;
    z-index:2;
    width:44%;
    min-height:rem(370);
    top:50%;
    transform:translateY(-50%);

    p {
      margin-bottom:1rem;
    }
  }

  .slide-pager {
    padding:0px;
    margin: 0;
    position:absolute;
    bottom:20px;

    li {
      display:inline-block;
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      width:7px;
      height:7px;
      border:1px solid $body-text;
      border-radius:100px;
      background-color:$body-text;
      margin-right:7px;
      padding:0;

      &.active {
        background-color:transparent;
      }
    }
  }
}


.panel.full-stats-panel {
  h2 {
    margin-bottom:1.5rem;
    float:left;
    width:100%;
  }

  .overview {
    padding-right:rem(90);
    width:30%;
  }

  .stat-col {
    width:35%;
  }

  .stat-focus {
    float:left;
    margin-bottom:rem(30);
  }

  .fact-row {
    width:100%;
    float:left;
    margin-bottom:rem(30);

    h5 {
      margin-bottom:rem(30);
    }

    .left, .right {
      float:left;
      // width:50%;
    }

    .left {
      // width:rem(155);
      p {
        line-height:1;
      }

      strong {
        text-transform:uppercase;
        letter-spacing:1px;
      }
    }

    .right {
      padding-top:rem(10);
      position:relative;
      max-width:rem(220);
      padding-left:3.5rem;

      &:before {
        background-color:$body-text;
        width:1px;
        height:rem(100);
        content:'';
        display:block;
        position:absolute;
        left:1.5rem;
        top:0;
      }
    }


    .number {
      @include font-size(90px);
    }
  }

  .fact-sheet {
    clear:both;
    padding:rem(30) 0;
  }
}


.three-stories-panel {
  // display:table;
  width:100%;

  .row {
    display:table;
    border-spacing:rem(20) 0px;
    margin-left:rem(-20);
    margin-right:rem(-20);
  }

  h2 {
    margin-bottom:1.5rem;
    // margin-left:rem(20);
    //
  }

  article {
    position:relative;
    padding-top:19%;
    background: $lighter-grey;
    // width:30%;
    // margin-right:3.333%;
    transition:all 0.2s linear;


    .tag {
      background-color:$brand-green;
      color:#fff;
      display:block;
      position:absolute;
      top:0;
      left:0;
      @include font-size(16px);
      z-index:1;
      padding:rem(2) rem(15);
      letter-spacing:1px;
    }

    img {
      position:absolute;
      top:0;
      z-index:0;
      width:100%;
    }

    p.more {
      // width:calc(100% - 5rem);
      text-align:center;
    }


    a.read-more {
      margin-top:rem(25);
      margin-left:rem(25);
      margin-right:rem(25);
      margin-bottom:rem(40);
      display:inline-block;
      color:$body-text;
      border-color:$body-text;
    }

    &:hover {
      background-color:$brand-green;

      a.read-more {
        color:#fff;
        border-color:#fff;

      }
    }
  }

  p {
    margin-bottom:0;
  }

  .copy {
    background-color:#fff;
    padding:30px;
    width:calc(100% - 3.125rem);
    margin-left:rem(25);
    margin-right:rem(25);
    position:relative;
    z-index:1;
    transition:all 0.2s linear;
  }
}

.expanding-two-column-list {
  ul.expanding-list {
    padding:0;
    margin:0;

    li {
      display:inline-block;
      padding:0;
      width:100%;
      @include font-size(34px);
      line-height:1;
      margin-bottom:rem(25);
      opacity:1;
      transition:all 0.2s linear;

      &.hide {
        opacity:0;
        position:absolute;
        left:-100%;
        overflow: hidden;
      }

      a {
        color:$body-text;
        display:inline-block;
        padding-left:rem(25);
        transition:all 0.2s linear;
        background-position:-2rem 50%;

        &:hover {
          color:$brand-green;
          background:url(../img/arrow-right.svg) no-repeat;
          background-position:0 50%;

        }
      }
    }
  }
  .read-more.list {
    margin-top:rem(30);
    margin-left:rem(25);
    display:inline-block;
  }
  .col-half.last {
    padding-left:rem(60);
  }

  .read-more.list.less {
    display:none;
  }

  &.expanded {
    .read-more.list.less {
      display:inline-block;
    }
    .read-more.list.more {
      display:none;
    }
  }
}


.panel.footer-cta {
  text-align:center;
  .donate {
    margin-top:rem(20);
    padding-left:rem(60);
    padding-right:rem(60);
  }
}

.panel.signature-events-panel {
  h2 {
    margin-bottom:3.5rem;
  }
  .inner-wrap {
    padding: 0 3.75rem;
  }

  #events-section {
    background-repeat: no-repeat;
    background-size:100%;
    color:#fff;
    height:calc(100vh - 16.666vw);
    min-height:900px;
    position:relative;

    &.expanded-overlay {
      &:before {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background: rgba(0,0,0,0.5);
        content:'';
      }
    }
    .container {
      position:relative;
      .summary {
        width:55%;
        color: #fff;
        line-height: 1.5;

        h5 {
          display:inline-block;
          padding:5px 10px;
        }
      }
    }

    .hover-bg-image {
      position:absolute;
      background-size:cover;
      width:100%;
      height:100%;
      left:0;
      right:0;
      top:0;
      bottom:0;
      z-index:0;
      overflow: hidden;

      &:before {
        z-index:0;
        content:'';
        left:0;
        right:0;
        top:0;
        bottom:0;
        display:block;
        width:100%;
        height:100%;
        background: linear-gradient(to right, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
      }

      &:after {
        content:'';
        display:block;
        background:url(../img/side-v.svg) no-repeat;
        // background-position:-2000px 50%;
        left:0;
        right:0;
        top:0;
        bottom:0;
        width:3000px;
        height:2637px;
        position:absolute;
        left:50%;
        top:50%;
        transform:translate3d(-100%,-50%,0);

        z-index:0;
      }
    }

    .events-items {
      .events-item {
        display:none;

        .container {
          transform: translateY(-50%);
          padding-top: 50%;
        }

        h5 {
          color:#fff;
        }

        &.active {
          display:block;
        }

        &.angel-event {
          h5 {
            background-color:$angel-pink;
          }
        }
        &.stars-gala {
          h5 {
            background-color:$stars-gala;
          }
        }
        &.shine-gala {
          h5 {
            background-color:$shine-gala;
          }
        }

      }
    }

    #events-menu {
      position:absolute;
      bottom:0;
    }

    #events-menu {

      width: 100%;
      list-style: none;
      padding:0;
      margin:0;
      left:0;
      right:0;
      height:16.666vw;

      li {
        position: relative;
        width: 33.333vw;
        height:100%;
        float: left;
        transition: opacity 0.2s cubic-bezier(0.28, 0, 0.18, 1);
        z-index: 1;
        margin-bottom:0;

        &:after {
          background-color:$brand-green;
        }



        &:after {
          content:'';
          display:block;
          width:100%;
          height:100%;
          position:absolute;
          transform: scale(1);
          top:0;
          left:0;
          right:0;
          bottom:0;
          z-index:-1;
          transition: transform 0.2s cubic-bezier(0.28, 0, 0.18, 1);
        }

        &:hover {
          z-index: 2;

          a {
            z-index:222;
          }

          &:after {
            opacity:1;
            transform: scale(1.1);
          }

          .thumb {
            opacity:0;
          }

          .date {
            opacity:1;
            transition: all 0.2s 0.1s linear;
          }
        }

        &.angel-event {
          &:after {
            background-color:$angel-pink;
          }
        }
        &.stars-gala {
          &:after {
            background-color:$stars-gala;
          }
        }
        &.shine-gala {
          &:after {
            background-color:$shine-gala;
          }
        }

        .thumb {
          width:100%;
          left:0;
          right:0;
          bottom:0;
          position:absolute;
          background-size:cover;
          opacity:1;
          transition: opacity 0.2s linear;
          top:rem(60);
        }


        span {
          padding:rem(15) rem(20);
          width:100%;
          left:0;
          right:0;
          top:0;
          position: absolute;
          transition: all 0.2s cubic-bezier(0.28, 0, 0.18, 1);

          &.read-more {
            color:#fff;
            border-color:#fff;
            top:auto;
            bottom:25px;
            left:20px;
            right:auto;
            padding:0;
            padding-bottom:8px;
            width:auto;
          }

          &.date {
            top:rem(60);
            text-transform:none;
            font-family:$font-med;
            opacity:0;
          }
        }

        a {
          backface-visibility: hidden;
        }

        .open {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          color: #fff;
          text-transform:uppercase;
          font-family:$font-bold;
          text-decoration:none;
          letter-spacing:1px;
          font-size:1rem;
          @include media($wideDesk){
            @include font-size(24px);
          }
        }
      }

    }
  }

}